/*
!/.gitignore
!/README.md
!/spam.nimble
!/default.nix
!/flake.nix
!/flake.lock

!/pkgs/
/pkgs/*
!/pkgs/*.nix

!/src/
/src/*
!/src/*.nim

!/test/
/test/*
!/test/*.nix

!/doc/
/doc/*
!/doc/*.md

!/completions/
